* {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;

}
.header {
    min-height: 100vh;
    background-image: url('../img/compus.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
}

.header-container {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.541);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.title{
    text-transform: uppercase;
    font-weight: bolder;
}
.title,.subtitle {
    color: rgb(255, 218, 218);
    font-size: 50px;
}
.title_services {
    background-color:rgba(134, 34, 34, 0.75);
    color: white;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin: 0%;
    padding: 0%;
    
}
.main_services {
    background-color:rgba(134, 34, 34, 0.10); ;
    color: rgb(0, 0, 0);
}
.title_oservices {
    background-color:rgba(134, 34, 34, 0.75);
    color: white;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin: 0%;
    padding: 0%;

}
.card-header{
    min-height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title_contacto {
    background-color:rgba(134, 34, 34, 0.75);
    color: white;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin: 0%;
    padding: 0%;
}
.boton_container{
    text-align: right;
}
.boton_container--btn{
    font-size: 1.1em;
    width: 110px;
}

/* footer */
.footer{
    height: 80px;
    background-color: rgba(134, 34, 34, 0.75);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer p {
    margin-bottom: 0;
}
.footer a{
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
}
.footer a:hover{
    text-decoration: underline;
}

.contactinfo__container{
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
